body {
    font-family: arial, sans-serif;
    text-align: center;



}

h1 {
    color: #e9e5e5;
    font-size: 34px;
    font-weight: 100;
    line-height: 58px;
    margin-bottom: 0;
    text-align: center;
  
}

h3 {
 text-align: center;

}

ul {
    
    padding: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    text-align: center;
  
}

a { 
  text-decoration: none;
}

h4 {
 margin: 10px;
 line-height: 25px;
}


.weather-forecast {
  color: white;
  padding: 20px;
  text-align: center;

}

.weather-forecast-date {
  font-size: 16px;
  color: white;
  opacity: 0.8;
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  text-align: center;
}

.weather-forecast-temperature {
  font-size: 16px;
  text-align: center
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
   
}

.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    background : #161B22;
    text-align: center;


}

.overview {
    margin-bottom: 20px;
}

img {
 display: block;
 margin: 0 auto;
}

.weather-temperature img {
   margin-top: -30px;
    
}


#temperature {
 position: relative;
 left: 30px;
}



.weather-temperature strong {
 color: #f0f4f8;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    margin: 30px;
   
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
    text-align: center;

}

.units .active {
color: #f0f4f8;
text-decoration: none;
cursor: default;
}

.units .active:hover {
text-decoration: none;
color : #f0f4f8;
}





.name {
color: rgb(135, 135, 135);

}

.form-control {
background-color: #090D10;
border: 1px solid #30363d;

}


.form-control:focus {
background: #161C23;
color: #C9D1D9;
border: 1px solid #30363d;

}


#current-city-btn {
    font-size: 15px;
    border: transparent;
    background: transparent;
    color: rgb(218, 44, 44);
    text-align: center;
   
}

#current-city-btn:hover {
    color: whitesmoke;
    transition: all 200ms ease-in-out;
    border: none;
    background: transparent;
    text-decoration: none;
   
}

