body {
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    text-align: center;
    background : #0D1117;
    align-items: center;
}



h1 {
    color: #e9e5e5;
    font-size: 54px;
    font-weight: 100;
    line-height: 58px;
    margin-bottom: 0;
    text-align: center;
  
}

h2 {
 text-align: center;

}

ul {
    
    padding: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
}

li {
    list-style: none;
    margin-right: 15px;
    margin-bottom: -8px;
    margin-top: 5px;
    padding: 5px 2px 5px;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    justify-content: center;
  
}

a { 
  text-decoration: none;
}

h4 {
 margin: 10px;
 line-height: 25px;
}

ul li{

border:1px solid rgba(31, 31, 31 0.6);
background-color: rgba(48, 45, 45, 0.4);
box-shadow :3px 10px 20px rgba(14, 3, 24, 0.2);
border-radius : 20px;

}



#description {
  text-transform:capitalize;
}



.weather-forecast {
  color: white;
  padding: 30px;
  margin: 40px auto;
  text-align: center;
border : 1px solid rgba(31, 31, 31 0.6);
background-color: rgba(48, 45, 45, 0.4);
box-shadow : 3px 10px 20px rgba(14, 3, 24, 0.2);
border-radius: 20px;
}


#icon {
  position: relative;
  bottom: 11px;
  right: 76px;
}



.weather-forecast-date {
  font-size: 16px;
  color: white;
  opacity: 0.8;
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  text-align: center;
}

.weather-forecast-temperature {
  font-size: 16px;
  text-align: center
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 6px auto;
    text-align: center;
}

.weather-app {
    padding: 20px;
    border: 5px solid #00000092;
    border-radius: 5px;
    background : #161B22;
    text-align: center;
    padding-bottom: 3px;
    margin: -10px 0 0 1px;
 
}



.overview {
    margin-bottom: 20px;
}



.weather-temperature img {
   margin-top: -30px;
    
}


#temperature {
 position: relative;
 left: -10px;
 font-size: 90px;
}



.weather-temperature strong {
  color: #f0f4f8;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    margin: 80px;
  
}

.weather-temperature .units {
    position: relative;
    right: 90px;
    font-size: 20px;
    top: -57px;
    text-align: center;
}

.units .active {
color: #f0f4f8;
text-decoration: none;
cursor: default;
}

.units .active:hover {
text-decoration: none;
color : #f0f4f8;
}



.name {
color: rgb(135, 135, 135);
}

.form-control {
background-color: #090D10;
border: 1px solid #30363d;
}


.form-control:focus {
background: #161C23;
color: #C9D1D9;
border: 1px solid #30363d;

}


#current-city-btn {
    font-size: 17px;
    border: transparent;
    background: transparent;
    color: rgb(113, 104, 104); 
    text-align: center;
 padding: 10px;
   
}

#current-city-btn:hover {
    color: whitesmoke;
    transition: all 200ms ease-in-out;
    border: none;
    background: transparent;
    text-decoration: none;
   
}

.btn {
 color: rgb(245, 245, 245);
background : #161B22;
 height: 34px;
 border-radius: 5px;
font-size: 13px;
font-weight: 400;
box-shadow : 3px 10px 20px rgba(0, 0, 0, 0.2);
border : 2px solid rgba(255, 254, 254, 0.573);
}


.btn:hover {
background : #eeeff0c9;
color: rgb(4, 4, 4);
border : 1px solid rgba(34, 34, 34, 0.573);
}

.earth {
display: block;

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
 
  transform: translste(-50%, -50%);
  width: 200px;
  height: 200px;
  background:url(file:///Users/daniellejagendorf/Downloads/planetearth.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0,0,0,1),0 0 50px #4069ff;
  transform-style: preserve-3d;
  animation: animateEarth 15s linear infinite;
}

@keyframes animateEarth 
{
  0%
{
  background-position: 0 0;
}
100%
{
  background-position: -582px 0;
}
}

.lastupdated,
#date {
line-height: 43px;
color: whitesmoke;

}

